/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

body,
html {
  height: 100%;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 100;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
  margin: 0rem 0.5rem;
}

a:hover {
  color: rgba(152, 190, 36, 1);
}

/* Header Styles */
header {
  padding: 0 2rem;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo img {
  height: 63px;
  cursor: pointer;
  width: 126px;
  object-fit: cover;
}

.navbar .links {
  display: flex;
  gap: 4rem;
}

.navbar .toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
  display: none;
}

.navbar .toggle-btn:hover {
  color: rgba(152, 190, 36, 1);
}

.contact-button {
  background: linear-gradient(
    to right,
    rgba(152, 190, 36, 1),
    rgba(30, 97, 140, 1)
  );
  height: 50px;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contact-button:hover {
  transform: scale(1.05);
}

.contact-link {
  color: #fff;
}

.contact-link:hover {
  color: white;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  height: 0;
  right: 2rem;
  top: 85px;
  width: 300px;
  padding: 0px 10px;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  z-index: 5;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  display: block;
  height: 200px;
}

.dropdown-menu .contact-button {
  height: 30%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.dropdown-menu li {
  margin: 0.8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 100;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  padding: 1rem 0rem 0 0;
}
h1 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 40px;
}

.hero-img {
  width: 100%;
  object-fit: cover;
}

.hero-back {
  position: absolute;
  right: 0;
  top: 1090px;
  z-index: -1;
}

.footer {
  position: relative;
  z-index: -2;
  margin-top: 640px;
  background-color: rgba(30, 97, 140, 1);
  color: white;
  height: auto;
  padding: 40px 0;
  text-align: center;
}

.footer ul {
  padding: 0;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer ul li a {
  color: white;
  font-size: 18px;
}

.footer .social-links {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer .social-links li {
  background-color: rgba(152, 190, 36, 1);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.footer .social-links li img {
  width: 100%;
}

.market {
  margin-top: 20px;
  font-size: 150px;
}

@media (max-width: 992px) {
  /* Navbar Adjustments */
  .header {
    margin: 0;
    padding: 1rem 0rem;
  }
  .navbar .links,
  .navbar .contact-button {
    display: none;
  }

  .navbar .links {
    gap: 0rem;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
  .hero-back {
    top: 900px;
  }
  .footer {
    margin-top: 480px;
  }
  .market {
    font-size: 112px;
  }
}
@media (max-width: 768px) {
  .footer ul li a {
    font-size: 12px;
    margin-right: 0;
  }
  .footer .social-links li a {
    margin: 0 auto;
  }
  .hero-back {
    width: 16%;
    top: 700px;
  }
  .footer {
    margin-top: 260px;
  }
  .market {
    font-size: 90px;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 32px;
  }

  .header {
    padding: 0.5rem 0rem;
  }

  .navbar .logo img {
    width: 83px;
  }

  .hero-back {
    top: 544px;
    width: 13%;
  }

  .footer {
    padding: 10px 0;
    width: 100%;
    margin-top: 50px;
  }

  .footer ul {
    margin-left: 30px;
    gap: 0rem;
  }

  .footer ul li {
    margin-right: 1rem;
  }

  .footer ul li a {
    font-size: 10px;
  }

  .footer .social-links {
    margin-top: 36px;
    gap: 1rem;
  }

  .footer .social-links li {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }
  .footer .social-links li a {
    width: 19px;
  }

  .market {
    font-size: 64px;
  }
}
